<% @role = Role.find_by_id(@roles_user.role_id)
   @user = User.find_by_id(@roles_user.user_id) %>
<table style="margin-left: auto;
        margin-right: auto;">

  <tr>
    <td>
      <p>
        <b>Tên người dùng:</b>
        <%= @user.email %>
      </p>

      <p>
        <b>Thuộc nhóm quyền:</b>
        <%= @role.name %>
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <%= link_to 'Quay lại danh sách', roles_users_path, :class => 'btn' %>
    </td>
  </tr>
</table>
