<%

   @mact = @user.mact
   if @mact != nil then
     @congty = Congty.find(@mact)
   end
   @roles_users = RolesUser.find_by_user_id(@user.id)
   if @roles_users != nil then
     @role = Role.find_by_id(@roles_users.role_id)
   end %>
<table style="margin-left: auto;
        margin-right: auto;">
  <tr>
    <td>
      <p>
        <b>Email:</b>
        <%= @user.email %>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        <b>Công ty:</b>
        <% if @congty != nil then %>
            <%= @congty.tenct %>
        <% end %>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        <b>Quyền:</b>
        <% if @role != nil then %>
            <%= @role.name %>
        <% end %>
      </p>
    </td>
  </tr>


  <tr>
    <td>
      <!--
  % if can? :update, Chuyen %>
      %= link_to 'Cập nhật', edit_chuyen_path(@chuyen), :class => 'btn' %> |
  % end %> -->
      <%= link_to 'Quay lại danh sách', users_path, :class => 'btn' %>
    </td>
  </tr>

</table>