<table style="margin-left: auto;
        margin-right: auto;">
  <tr>
    <td>
      <p>
        <b>Tên quyền:</b>
        <%= @role.name %>
      </p>
    </td>
  </tr>

  </br>

  <tr>
    <td>
      <%= link_to 'Quay lại danh sách', roles_path, :class => 'btn' %>
    </td>
  </tr>


</table>

