<%= link_to "Home", :class => 'brand' %>
<ul class="nav">
  <% if 1 %>
      <li>
        <p>link</p>
      </li>
  <% else %>
      <li>
        <p>link</p>

      </li>
  <% end %>
  <% if 1 %>
      <li>
        <p>link</p>
      </li>
  <% else %>
      <li>
        <p>link</p>
      </li>
  <% end %>